In [1]:
import pandas as pd 

dados_csv = pd.read_csv('dataset.csv')

In [2]:
dados_csv.head()

        ID_Pedido Data_Pedido ID_Cliente  ...                                       Nome_Produto Valor_Venda Quantidade
0  CA-2016-152156  2016-11-08   CG-12520  ...                  Bush Somerset Collection Bookcase    261.9600        NaN
1  CA-2016-152156  2016-11-08   CG-12520  ...  Hon Deluxe Fabric Upholstered Stacking Chairs,...    731.9400        NaN
2  CA-2016-138688  2016-06-12   DV-13045  ...  Self-Adhesive Address Labels for Typewriters b...     14.6200        2.0
3  US-2015-108966  2015-10-11   SO-20335  ...      Bretford CR4500 Series Slim Rectangular Table    957.5775        5.0
4  US-2015-108966  2015-10-11   SO-20335  ...                     Eldon Fold 'N Roll Cart System     22.3680        2.0

[5 rows x 11 columns]

In [5]:
#o operados logico and checa as duas condições. Serão retornados os resultados quando as duas condições forem verdadeiras 
dados_csv[(dados_csv.Segmento == 'Home Office') & (dados_csv.Regiao == 'South')].head()

          ID_Pedido Data_Pedido ID_Cliente  ...                                      Nome_Produto Valor_Venda Quantidade
182  CA-2014-158274  2014-11-19   RM-19675  ...                                      AT&T TR1909W    503.9600        4.0
183  CA-2014-158274  2014-11-19   RM-19675  ...                        Nokia Lumia 521 (T-Mobile)    149.9500        5.0
184  CA-2014-158274  2014-11-19   RM-19675  ...                 HP Standard 104 key PS/2 Keyboard     29.0000        2.0
231  US-2017-100930  2017-04-07   CS-12400  ...  Bush Advantage Collection Round Conference Table    233.8600        2.0
232  US-2017-100930  2017-04-07   CS-12400  ...        Bretford Rectangular Conference Table Tops    620.6145        3.0

[5 rows x 11 columns]

In [6]:
#ele retorna se uma das condições forem verdadeiras 
dados_csv[(dados_csv.Segmento == 'Home Office') | (dados_csv.Regiao == 'South')].tail()#tail traz os ultimos registros

           ID_Pedido Data_Pedido ID_Cliente  ...                                       Nome_Produto Valor_Venda Quantidade
9979  US-2016-103674  2016-12-06   AP-10720  ...                  Ibico Recycled Linen-Style Covers     437.472       14.0
9980  US-2015-151435  2015-09-06   SW-20455  ...                         KI Adjustable-Height Table      85.980        1.0
9987  CA-2017-163629  2017-11-17   RA-19885  ...  Logitech G430 Surround Sound Gaming Headset wi...      79.990        1.0
9988  CA-2017-163629  2017-11-17   RA-19885  ...                    Panasonic KX - TS880B Telephone     206.100        5.0
9989  CA-2014-110422  2014-01-21   TB-21400  ...                             Ultra Door Pull Handle      25.248        3.0

[5 rows x 11 columns]

In [8]:
#filtrando as vendas que não ocorrem no segmento home offoce e south
dados_csv[(dados_csv.Segmento != 'Home Office') & (dados_csv.Regiao != 'South')].sample(5)#sample traz os registros de maneira aleatoria

           ID_Pedido Data_Pedido ID_Cliente  ...                                       Nome_Produto Valor_Venda Quantidade
2248  CA-2015-116092  2015-02-15   JM-16195  ...  Acco Data Flex Cable Posts For Top & Bottom Lo...      41.720        5.0
7288  CA-2014-158281  2014-09-02   AG-10525  ...  Epson TM-T88V Direct Thermal Printer - Monochr...     559.710        3.0
170   CA-2014-139892  2014-09-08   BM-11140  ...      JBL Micro Wireless Portable Bluetooth Speaker     143.976        3.0
6576  CA-2017-123085  2017-03-03   EJ-13720  ...                           Novimex Turbo Task Chair     170.352        3.0
2983  US-2014-112872  2014-12-06   RC-19960  ...                      File Shuttle I and Handi-File      53.424        3.0

[5 rows x 11 columns]

In [2]:
#agrupamento de dados em data frame

dados_csv[['Segmento','Regiao','Valor_Venda']].groupby(['Segmento','Regiao']).mean()
#mean é media

                     Valor_Venda
Segmento    Regiao
Consumer    Central   207.946728
            East      238.875539
            South     233.390180
            West      217.033955
Corporate   Central   234.763466
            East      228.516929
            South     238.992025
            West      235.265911
Home Office Central   208.248046
            East      253.911805
            South     272.996329
            West      239.442692

In [2]:
#Agregação multipla 
#Unindo a função groupby() com a função agg() para realizar agrupamento multiplo

dados_csv[['Segmento','Regiao','Valor_Venda']].groupby(['Segmento','Regiao']).agg(['mean','std','count'])

                    Valor_Venda
                           mean          std count
Segmento    Regiao
Consumer    Central  207.946728   587.906523  1212
            East     238.875539   633.371169  1469
            South    233.390180   559.346824   838
            West     217.033955   551.997547  1672
Corporate   Central  234.763466   818.947521   673
            East     228.516929   530.001654   877
            South    238.992025   586.176947   510
            West     235.265911   471.288764   960
Home Office Central  208.248046   371.009180   438
            East     253.911805   722.777318   502
            South    272.996329  1404.798466   272
            West     239.442692   529.242737   571

No codigo acima primeiro filtramos os dados em tres colunas [Segmento,Regiao,Valor_Venda]. Na sequência, agrupamos por duas colunas [Segmento, Regiao]. E então agregamos os dados calculando média, desvio padrão e contagem de elementos para a coluna que ficou fora do groupby, nesse caso foi Valor_Venda

A função agg() recebe como argumento uma lista de funções para agregação